<!-- templates/home.html -->
<html>
<body>
    <h1>Welcome, {{ user.first_name }}!</h1>
    
    <!-- Display the Question, Correct Answer, Player Answer, Result -->
    <form method="post" action="{% url 'display_result' %}">
        {% csrf_token %}
        <h2>Questions</h2>
        <ul>
            {% for question in questions %}
            <li>
                <div>
                    <p>Question: {{ question.question }}</p>
                    <label for="choice1"><input type="radio" name="choice_{{ question.id }}" id="choice1" value="{{ question.choice1 }}">A: {{ question.choice1 }}</label><br>
                    <label for="choice2"><input type="radio" name="choice_{{ question.id }}" id="choice2" value="{{ question.choice2 }}">B: {{ question.choice2 }}</label><br>
                    <label for="choice3"><input type="radio" name="choice_{{ question.id }}" id="choice3" value="{{ question.choice3 }}">C: {{ question.choice3 }}</label><br>
                    <label for="choice4"><input type="radio" name="choice_{{ question.id }}" id="choice4" value="{{ question.choice4 }}">D: {{ question.choice4 }}</label><br>
                </div>
            </li>
            {% endfor %}
        </ul>
        <input type="submit" value="Submit">
    </form>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>

    <!--
    {% if show_results %}
    <h2>Results</h2>
    <ul>
        {% for question, value, is_correct in results %}
        <li>{{ question }} - Your answer {{ value }} -
            {% if is_correct %}
                Correct
            {% else %}
                Incorrect
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <form method="post" action="{% url 'display_result' %}">
        {% csrf_token %}
        
        <h2>Questions</h2>
        <ul>
            {% for question in questions %}
            <li>
                <div>
                    <p>Question: {{ question.question }}</p>
                    <label for="choice1"><input type="radio" name="choice_{{ question.id }}" id="choice1" value="{{ question.choice1 }}">A: {{ question.choice1 }}</label><br>
                    <label for="choice2"><input type="radio" name="choice_{{ question.id }}" id="choice2" value="{{ question.choice2 }}">B: {{ question.choice2 }}</label><br>
                    <label for="choice3"><input type="radio" name="choice_{{ question.id }}" id="choice3" value="{{ question.choice3 }}">C: {{ question.choice3 }}</label><br>
                    <label for="choice4"><input type="radio" name="choice_{{ question.id }}" id="choice4" value="{{ question.choice4 }}">D: {{ question.choice4 }}</label><br>
                </div>
            </li>
            {% endfor %}
        </ul>
        <input type="submit" value="Submit">
    </form>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    -->
</body>
</html>
